* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  margin: 5px 0;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  align-items: center;
  background: #ff5200;
}

.logo {
  width: 10rem;
}

.nav-items ul {
  display: flex;
  list-style-type: none;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}
.nav-items ul li {
  margin-left: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.res-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2rem auto;
}

.card-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.res-card {
  width: 15rem;
  margin: 20px;
  border-radius: 8%;
  background: #f0f0f0;
  transition: transform 0.3s ease-in;
}

.res-card:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.res-card img {
  max-width: 100%;
  height: 18rem;
  border-radius: 8%;
}

.res-desc {
  /* margin-left: 10px; */
  padding: 10px 20px;
}
