* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.searchbar {
  display: flex;
  align-items: center;
  border: 2px solid gainsboro;
  border-radius: 10rem;
  background-color: white;
  padding: 5px 20px;
}
/* .search img {
  width: 2.25rem;
  height: 2.25rem;
} */
input,
.search-button {
  border: unset;
  outline: unset;
}

.search-button {
  background-color: white;
  cursor: pointer;
}
input {
  width: 20rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.navbar img {
  width: 2.25rem;
}
