* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  margin: 5px 0;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  align-items: center;
  background: #ff5200;
}

.logo {
  width: 10rem;
}

.nav-items ul {
  display: flex;
  list-style-type: none;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
}
.nav-items ul li {
  margin-left: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.res-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2rem auto;
}

.card-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5%;
  margin: 2rem 0;
}

.res-card {
  border-radius: 8%;
  background: #f0f0f0;
  transition: transform 0.3s ease-in;
  margin-bottom: 4rem;
}

.res-card:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.res-card img {
  max-width: 100%;
  min-height: 20rem;
  border-radius: 8%;
}

.res-desc {
  /* margin-left: 10px; */
  padding: 10px 20px;
}

.btn {
  background: #ff5200;
  padding: 20px 40px;
  border: unset;
  border-radius: 2rem;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.filter-section {
  display: flex;
  justify-content: space-between;
}

.searchbar {
  border-radius: 1rem;
  padding: 15px 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-right: 10px;
}

.shimmer {
  background: #f0f0f0;
  border: #f0f0f0;
}
.shimmer.btn {
  width: 16rem;
}

.shimmer.res-card {
  width: 30%;
  height: 500px;
}

.res-card.shimmer .res-image {
  width: 100%;
  height: 350px;
  background: darkgray;
  border-radius: 8%;
}

.res-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.res-info {
  display: flex;
  margin: 0 auto;
  padding: 2rem 4rem;
  width: 50%;
  justify-content: space-between;
  background-color: #f0f0f0;
}

.res-info-center {
  margin-top: 4rem;
}
.res-info-right img,
.menu-item img {
  max-width: 6rem;
  border-radius: 10%;
}

.res-menu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 4rem;
  width: 50%;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.card-collection a {
  display: block;
  /* flex: 1 1 300px;  */
  text-decoration: none;
  width: 30%;
}

/**.res-card {
  display: flex; /* Internal card layout 
  flex-direction: column;
} */

a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: unset;
  color: #000000;
}
.header a {
  color: #fff;
}
